@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div id="cool">
    <h3>
        Called to Serve was founded on one simple idea: Wouldn't it be nice to have a single location for all of your mission preparation needs?
        Doing the work of the Lord requires doing it in His way, and that as effectively as possible. Called to Serve provides the medium for soon-to-be
        (as well as not-so-soon-to-be) missionaries to learn from former missionaries. Asking questions, watching videos, you name it!
    </h3>
    <h3>
        Think it's a good idea? We did too! So tell your friends, family, and everyone in between about the newest, coolest way to get ready for
        your missionary service.
    </h3>
</div>